In [38]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [39]:
df = pd.read_csv(r"C:\Users\tusha\OneDrive\Desktop\MLProject\notebook\data\Food_Time_Data_Set.csv")
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Unnamed: 14,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,NaN,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,NaN,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,NaN,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,NaN,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,NaN,High,9.89,43.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,11B4,VADRES13DEL03,32.0,4.2,22.310237,73.158921,22.400237,73.248921,Meal,motorcycle,23.96,64.0,0.0,haze,NaN,High,18.92,32.61666667
9997,8336,HYDRES20DEL01,36.0,4.7,17.483216,78.552111,17.493216,78.562111,Meal,motorcycle,22.94,60.0,0.0,haze,NaN,Low,2.64,12.01666667
9998,338B,JAPRES18DEL03,37.0,4.6,26.913987,75.752891,27.053987,75.892891,Buffet,scooter,23.72,31.0,0.0,clear sky,NaN,Very High,28.80,51.06666667
9999,3FB2,MUMRES11DEL03,29.0,4.7,18.994237,72.825553,19.084237,72.915553,Meal,scooter,28.01,57.0,0.0,smoke,NaN,High,17.63,43.8
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.shape

(10001, 18)

In [41]:
df["Unnamed: 14"].isnull().sum()

np.int64(10001)

In [42]:
df = df.drop("Unnamed: 14", axis=1)

In [43]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.89,43.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,11B4,VADRES13DEL03,32.0,4.2,22.310237,73.158921,22.400237,73.248921,Meal,motorcycle,23.96,64.0,0.0,haze,High,18.92,32.61666667
9997,8336,HYDRES20DEL01,36.0,4.7,17.483216,78.552111,17.493216,78.562111,Meal,motorcycle,22.94,60.0,0.0,haze,Low,2.64,12.01666667
9998,338B,JAPRES18DEL03,37.0,4.6,26.913987,75.752891,27.053987,75.892891,Buffet,scooter,23.72,31.0,0.0,clear sky,Very High,28.80,51.06666667
9999,3FB2,MUMRES11DEL03,29.0,4.7,18.994237,72.825553,19.084237,72.915553,Meal,scooter,28.01,57.0,0.0,smoke,High,17.63,43.8
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.isnull().sum()

ID                               1
Delivery_person_ID               1
Delivery_person_Age              1
Delivery_person_Ratings          1
Restaurant_latitude              1
Restaurant_longitude             1
Delivery_location_latitude       1
Delivery_location_longitude      1
Type_of_order                    1
Type_of_vehicle                  1
temperature                      6
humidity                         6
precipitation                    6
weather_description              6
Traffic_Level                  916
Distance (km)                  921
TARGET                         542
dtype: int64

In [45]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.89,43.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,11B4,VADRES13DEL03,32.0,4.2,22.310237,73.158921,22.400237,73.248921,Meal,motorcycle,23.96,64.0,0.0,haze,High,18.92,32.61666667
9997,8336,HYDRES20DEL01,36.0,4.7,17.483216,78.552111,17.493216,78.562111,Meal,motorcycle,22.94,60.0,0.0,haze,Low,2.64,12.01666667
9998,338B,JAPRES18DEL03,37.0,4.6,26.913987,75.752891,27.053987,75.892891,Buffet,scooter,23.72,31.0,0.0,clear sky,Very High,28.80,51.06666667
9999,3FB2,MUMRES11DEL03,29.0,4.7,18.994237,72.825553,19.084237,72.915553,Meal,scooter,28.01,57.0,0.0,smoke,High,17.63,43.8
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df = df.dropna(how='all')

In [47]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.89,43.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4347,MUMRES07DEL01,25.0,4.0,19.091458,72.827808,19.101458,72.837808,Meal,motorcycle,28.03,57.0,0.0,smoke,Low,3.78,18.2
9996,11B4,VADRES13DEL03,32.0,4.2,22.310237,73.158921,22.400237,73.248921,Meal,motorcycle,23.96,64.0,0.0,haze,High,18.92,32.61666667
9997,8336,HYDRES20DEL01,36.0,4.7,17.483216,78.552111,17.493216,78.562111,Meal,motorcycle,22.94,60.0,0.0,haze,Low,2.64,12.01666667
9998,338B,JAPRES18DEL03,37.0,4.6,26.913987,75.752891,27.053987,75.892891,Buffet,scooter,23.72,31.0,0.0,clear sky,Very High,28.80,51.06666667
9999,3FB2,MUMRES11DEL03,29.0,4.7,18.994237,72.825553,19.084237,72.915553,Meal,scooter,28.01,57.0,0.0,smoke,High,17.63,43.8

In [48]:
df.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      5
humidity                         5
precipitation                    5
weather_description              5
Traffic_Level                  915
Distance (km)                  920
TARGET                         541
dtype: int64

In [49]:
df['temperature'] = df['temperature'].fillna(df['temperature'].mean())
df['humidity'] = df['humidity'].fillna(df['humidity'].mean())

C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\227374172.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temperature'] = df['temperature'].fillna(df['temperature'].mean())
C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\227374172.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['humidity'] = df['humidity'].fillna(df['humidity'].mean())

In [50]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.89,43.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4347,MUMRES07DEL01,25.0,4.0,19.091458,72.827808,19.101458,72.837808,Meal,motorcycle,28.03,57.0,0.0,smoke,Low,3.78,18.2
9996,11B4,VADRES13DEL03,32.0,4.2,22.310237,73.158921,22.400237,73.248921,Meal,motorcycle,23.96,64.0,0.0,haze,High,18.92,32.61666667
9997,8336,HYDRES20DEL01,36.0,4.7,17.483216,78.552111,17.493216,78.562111,Meal,motorcycle,22.94,60.0,0.0,haze,Low,2.64,12.01666667
9998,338B,JAPRES18DEL03,37.0,4.6,26.913987,75.752891,27.053987,75.892891,Buffet,scooter,23.72,31.0,0.0,clear sky,Very High,28.80,51.06666667
9999,3FB2,MUMRES11DEL03,29.0,4.7,18.994237,72.825553,19.084237,72.915553,Meal,scooter,28.01,57.0,0.0,smoke,High,17.63,43.8

In [51]:
df.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      0
humidity                         0
precipitation                    5
weather_description              5
Traffic_Level                  915
Distance (km)                  920
TARGET                         541
dtype: int64

In [52]:
df['weather_description'].value_counts()

weather_description
clear sky           3260
haze                2406
mist                1751
broken clouds        721
light rain           536
smoke                501
scattered clouds     422
overcast clouds      308
fog                   49
few clouds            40
moderate rain          1
Name: count, dtype: int64

In [53]:
df['weather_description'] = df['weather_description'].fillna(df['weather_description'].mode()[0])

C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\2868075881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weather_description'] = df['weather_description'].fillna(df['weather_description'].mode()[0])

In [54]:
df.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      0
humidity                         0
precipitation                    5
weather_description              0
Traffic_Level                  915
Distance (km)                  920
TARGET                         541
dtype: int64

In [55]:
df['precipitation'].value_counts()

precipitation
0.00    9452
0.12      44
0.40      42
0.38      40
0.29      39
0.36      38
0.10      38
0.11      37
0.25      35
0.45      33
0.48      31
0.31      29
0.43      27
0.21      25
0.33      25
0.27       8
0.13       7
0.41       7
0.28       6
0.30       6
0.14       4
0.23       3
0.42       3
0.60       2
0.17       2
0.44       2
0.64       2
0.15       1
0.19       1
0.34       1
0.39       1
0.37       1
0.18       1
0.82       1
1.46       1
Name: count, dtype: int64

In [56]:
df['precipitation'] = df['precipitation'].fillna(df['precipitation'].mean())

C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\3604822626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['precipitation'] = df['precipitation'].fillna(df['precipitation'].mean())

In [57]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,NaN,21.66666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.17,85.26666667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.34,28.58333333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.05,35.18333333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.89,43.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4347,MUMRES07DEL01,25.0,4.0,19.091458,72.827808,19.101458,72.837808,Meal,motorcycle,28.03,57.0,0.0,smoke,Low,3.78,18.2
9996,11B4,VADRES13DEL03,32.0,4.2,22.310237,73.158921,22.400237,73.248921,Meal,motorcycle,23.96,64.0,0.0,haze,High,18.92,32.61666667
9997,8336,HYDRES20DEL01,36.0,4.7,17.483216,78.552111,17.493216,78.562111,Meal,motorcycle,22.94,60.0,0.0,haze,Low,2.64,12.01666667
9998,338B,JAPRES18DEL03,37.0,4.6,26.913987,75.752891,27.053987,75.892891,Buffet,scooter,23.72,31.0,0.0,clear sky,Very High,28.80,51.06666667
9999,3FB2,MUMRES11DEL03,29.0,4.7,18.994237,72.825553,19.084237,72.915553,Meal,scooter,28.01,57.0,0.0,smoke,High,17.63,43.8

In [58]:
df.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      0
humidity                         0
precipitation                    0
weather_description              0
Traffic_Level                  915
Distance (km)                  920
TARGET                         541
dtype: int64

In [59]:
df['Traffic_Level'].value_counts()

Traffic_Level
High         2736
Moderate     2219
Very High    1772
Low          1726
Very Low      632
Name: count, dtype: int64

In [60]:
df['Traffic_Level'] = df['Traffic_Level'].fillna('Moderate')

C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\2475329904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Traffic_Level'] = df['Traffic_Level'].fillna('Moderate')

In [61]:
df['Distance (km)'] = df['Distance (km)'].fillna(df['Distance (km)'].mean())

C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\2306954497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Distance (km)'] = df['Distance (km)'].fillna(df['Distance (km)'].mean())

In [62]:
df.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Type_of_order                    0
Type_of_vehicle                  0
temperature                      0
humidity                         0
precipitation                    0
weather_description              0
Traffic_Level                    0
Distance (km)                    0
TARGET                         541
dtype: int64

In [63]:
print(df['TARGET'].dtype)

object

In [64]:
df['TARGET'] = pd.to_numeric(df['TARGET'], errors='coerce')

C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\2096285708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TARGET'] = pd.to_numeric(df['TARGET'], errors='coerce')

In [65]:
print(df['TARGET'].dtype)

float64

In [66]:
df['TARGET'] = df['TARGET'].fillna(df['TARGET'].mean())

C:\Users\tusha\AppData\Local\Temp\ipykernel_16164\174847392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TARGET'] = df['TARGET'].fillna(df['TARGET'].mean())

In [67]:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Type_of_order                  0
Type_of_vehicle                0
temperature                    0
humidity                       0
precipitation                  0
weather_description            0
Traffic_Level                  0
Distance (km)                  0
TARGET                         0
dtype: int64

In [68]:
df.shape

(10000, 17)

In [69]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,17.11,77.0,0.0,haze,Low,14.292747,21.666667
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,19.50,93.0,0.0,mist,Very High,37.170000,85.266667
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,20.45,91.0,0.0,mist,Low,3.340000,28.583333
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,23.86,78.0,0.0,mist,Moderate,10.050000,35.183333
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,26.55,87.0,0.0,mist,High,9.890000,43.450000

In [70]:
df['Type_of_order'].value_counts()

Type_of_order
Snack      2551
Meal       2530
Drinks     2507
Buffet     2412
Name: count, dtype: int64

In [71]:
from sklearn.preprocessing import OneHotEncoder

In [72]:
encoder = OneHotEncoder()

In [73]:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Type_of_order                  0
Type_of_vehicle                0
temperature                    0
humidity                       0
precipitation                  0
weather_description            0
Traffic_Level                  0
Distance (km)                  0
TARGET                         0
dtype: int64

In [74]:
df = df.dropna()

In [75]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the encoder without dropping the first category
encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder on the column and transform the data
encoded_data = encoder.fit_transform(df[['Type_of_order']])

# Convert the result to a DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Type_of_order']))

# Drop the original 'Type_of_order' column and concatenate the new one-hot encoded columns
df = df.drop('Type_of_order', axis=1)
df = pd.concat([df, encoded_df], axis=1)

df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_vehicle,temperature,humidity,precipitation,weather_description,Traffic_Level,Distance (km),TARGET,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,motorcycle,17.11,77.0,0.0,haze,Low,14.292747,21.666667,0.0,0.0,0.0,1.0
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,scooter,19.50,93.0,0.0,mist,Very High,37.170000,85.266667,0.0,0.0,0.0,1.0
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,motorcycle,20.45,91.0,0.0,mist,Low,3.340000,28.583333,0.0,1.0,0.0,0.0
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,motorcycle,23.86,78.0,0.0,mist,Moderate,10.050000,35.183333,1.0,0.0,0.0,0.0
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,scooter,26.55,87.0,0.0,mist,High,9.890000,43.450000,0.0,0.0,0.0,1.0

In [76]:
df['Type_of_vehicle'].value_counts()

Type_of_vehicle
motorcycle           5862
scooter              3304
electric_scooter      814
bicycle                20
Name: count, dtype: int64

In [77]:
df = df.dropna()

In [78]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the encoder without dropping the first category
encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder on the column and transform the data
encoded_data = encoder.fit_transform(df[['Type_of_vehicle']])

# Convert the result to a DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Type_of_vehicle']))

# Drop the original 'Type_of_vehicle' column and concatenate the new one-hot encoded columns
df = df.drop('Type_of_vehicle', axis=1)
df = pd.concat([df, encoded_df], axis=1)

df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,...,Distance (km),TARGET,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,...,14.292747,21.666667,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,...,37.170000,85.266667,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,...,3.340000,28.583333,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,...,10.050000,35.183333,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,...,9.890000,43.450000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [79]:
df = df.dropna()

In [80]:
df['weather_description'].value_counts()

weather_description
clear sky           3265
haze                2406
mist                1751
broken clouds        721
light rain           536
smoke                501
scattered clouds     422
overcast clouds      308
fog                   49
few clouds            40
moderate rain          1
Name: count, dtype: int64

In [81]:
df = df.dropna()

In [82]:
# Filter out the unwanted values from the 'weather_description' column
df = df[~df['weather_description'].isin(['fog', 'few clouds', 'moderate rain'])]

# Check the updated DataFrame
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,...,Distance (km),TARGET,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,...,14.292747,21.666667,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,...,37.170000,85.266667,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,...,3.340000,28.583333,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,...,10.050000,35.183333,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,...,9.890000,43.450000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [83]:
df = df.dropna()

In [84]:
df['weather_description'].value_counts()

weather_description
clear sky           3265
haze                2406
mist                1751
broken clouds        721
light rain           536
smoke                501
scattered clouds     422
overcast clouds      308
Name: count, dtype: int64

In [85]:
df = df.dropna()

In [86]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the encoder without dropping the first category
encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder on the column and transform the data
encoded_data = encoder.fit_transform(df[['weather_description']])

# Convert the result to a DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['weather_description']))

# Drop the original 'weather_description' column and concatenate the new one-hot encoded columns
df = df.drop('weather_description', axis=1)
df = pd.concat([df, encoded_df], axis=1)

df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,...,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter,weather_description_broken clouds,weather_description_clear sky,weather_description_haze,weather_description_light rain,weather_description_mist,weather_description_overcast clouds,weather_description_scattered clouds,weather_description_smoke
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [87]:
df = df.dropna()

In [88]:
# Check the data type of each column
df.dtypes

ID                                       object
Delivery_person_ID                       object
Delivery_person_Age                     float64
Delivery_person_Ratings                 float64
Restaurant_latitude                     float64
Restaurant_longitude                    float64
Delivery_location_latitude              float64
Delivery_location_longitude             float64
temperature                             float64
humidity                                float64
precipitation                           float64
Traffic_Level                            object
Distance (km)                           float64
TARGET                                  float64
Type_of_order_Buffet                    float64
Type_of_order_Drinks                    float64
Type_of_order_Meal                      float64
Type_of_order_Snack                     float64
Type_of_vehicle_bicycle                 float64
Type_of_vehicle_electric_scooter        float64
Type_of_vehicle_motorcycle              float64
Type_of_vehicle_scooter                 float64
weather_description_broken clouds       float64
weather_description_clear sky           float64
weather_description_haze                float64
weather_description_light rain          float64
weather_description_mist                float64
weather_description_overcast clouds     float64
weather_description_scattered clouds    float64
weather_description_smoke               float64
dtype: object

In [89]:
df = df.dropna()

In [90]:
df['Traffic_Level'].value_counts()

Traffic_Level
Moderate     3092
High         2676
Very High    1725
Low          1704
Very Low      624
Name: count, dtype: int64

In [91]:
df = df.dropna()

In [92]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the encoder without dropping the first category
encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder on the column and transform the data
encoded_data = encoder.fit_transform(df[['Traffic_Level']])

# Convert the result to a DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Traffic_Level']))

# Drop the original 'Traffic_Level' column and concatenate the new one-hot encoded columns
df = df.drop('Traffic_Level', axis=1)
df = pd.concat([df, encoded_df], axis=1)

df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,...,weather_description_light rain,weather_description_mist,weather_description_overcast clouds,weather_description_scattered clouds,weather_description_smoke,Traffic_Level_High,Traffic_Level_Low,Traffic_Level_Moderate,Traffic_Level_Very High,Traffic_Level_Very Low
0,4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,B379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5D6D,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,7A6A,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,70A2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [93]:
df = df.dropna()

In [94]:
df.dtypes

ID                                       object
Delivery_person_ID                       object
Delivery_person_Age                     float64
Delivery_person_Ratings                 float64
Restaurant_latitude                     float64
Restaurant_longitude                    float64
Delivery_location_latitude              float64
Delivery_location_longitude             float64
temperature                             float64
humidity                                float64
precipitation                           float64
Distance (km)                           float64
TARGET                                  float64
Type_of_order_Buffet                    float64
Type_of_order_Drinks                    float64
Type_of_order_Meal                      float64
Type_of_order_Snack                     float64
Type_of_vehicle_bicycle                 float64
Type_of_vehicle_electric_scooter        float64
Type_of_vehicle_motorcycle              float64
Type_of_vehicle_scooter                 float64
weather_description_broken clouds       float64
weather_description_clear sky           float64
weather_description_haze                float64
weather_description_light rain          float64
weather_description_mist                float64
weather_description_overcast clouds     float64
weather_description_scattered clouds    float64
weather_description_smoke               float64
Traffic_Level_High                      float64
Traffic_Level_Low                       float64
Traffic_Level_Moderate                  float64
Traffic_Level_Very High                 float64
Traffic_Level_Very Low                  float64
dtype: object

In [95]:
df.shape

(9733, 34)

In [96]:
df =df.dropna()

In [97]:
df.isnull().sum()

ID                                      0
Delivery_person_ID                      0
Delivery_person_Age                     0
Delivery_person_Ratings                 0
Restaurant_latitude                     0
Restaurant_longitude                    0
Delivery_location_latitude              0
Delivery_location_longitude             0
temperature                             0
humidity                                0
precipitation                           0
Distance (km)                           0
TARGET                                  0
Type_of_order_Buffet                    0
Type_of_order_Drinks                    0
Type_of_order_Meal                      0
Type_of_order_Snack                     0
Type_of_vehicle_bicycle                 0
Type_of_vehicle_electric_scooter        0
Type_of_vehicle_motorcycle              0
Type_of_vehicle_scooter                 0
weather_description_broken clouds       0
weather_description_clear sky           0
weather_description_haze                0
weather_description_light rain          0
weather_description_mist                0
weather_description_overcast clouds     0
weather_description_scattered clouds    0
weather_description_smoke               0
Traffic_Level_High                      0
Traffic_Level_Low                       0
Traffic_Level_Moderate                  0
Traffic_Level_Very High                 0
Traffic_Level_Very Low                  0
dtype: int64

In [98]:
df['ID'].nunique()

9728

In [99]:
df = df.dropna()

In [100]:
df = df.drop('ID', axis=1)

In [101]:
df = df.dropna()

In [102]:
df.head()

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,precipitation,...,weather_description_light rain,weather_description_mist,weather_description_overcast clouds,weather_description_scattered clouds,weather_description_smoke,Traffic_Level_High,Traffic_Level_Low,Traffic_Level_Moderate,Traffic_Level_Very High,Traffic_Level_Very Low
0,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [103]:
df = df.dropna()

In [104]:
df['Delivery_person_ID'].value_counts()

Delivery_person_ID
RANCHIRES18DEL01    22
CHENRES01DEL02      22
SURRES16DEL01       21
COIMBRES06DEL01     20
COIMBRES03DEL02     20
                    ..
LUDHRES14DEL02       1
KNPRES08DEL03        1
ALHRES19DEL02        1
AGRRES18DEL01        1
BHPRES11DEL01        1
Name: count, Length: 1281, dtype: int64

In [105]:
df = df.drop('Delivery_person_ID', axis=1)

In [106]:
df = df.dropna()

In [107]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,precipitation,Distance (km),...,weather_description_light rain,weather_description_mist,weather_description_overcast clouds,weather_description_scattered clouds,weather_description_smoke,Traffic_Level_High,Traffic_Level_Low,Traffic_Level_Moderate,Traffic_Level_Very High,Traffic_Level_Very Low
0,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,0.0,14.292747,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,0.0,37.170000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,0.0,3.340000,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,0.0,10.050000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,0.0,9.890000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [108]:
df = df.dropna()

In [109]:
df.isnull().sum()

Delivery_person_Age                     0
Delivery_person_Ratings                 0
Restaurant_latitude                     0
Restaurant_longitude                    0
Delivery_location_latitude              0
Delivery_location_longitude             0
temperature                             0
humidity                                0
precipitation                           0
Distance (km)                           0
TARGET                                  0
Type_of_order_Buffet                    0
Type_of_order_Drinks                    0
Type_of_order_Meal                      0
Type_of_order_Snack                     0
Type_of_vehicle_bicycle                 0
Type_of_vehicle_electric_scooter        0
Type_of_vehicle_motorcycle              0
Type_of_vehicle_scooter                 0
weather_description_broken clouds       0
weather_description_clear sky           0
weather_description_haze                0
weather_description_light rain          0
weather_description_mist                0
weather_description_overcast clouds     0
weather_description_scattered clouds    0
weather_description_smoke               0
Traffic_Level_High                      0
Traffic_Level_Low                       0
Traffic_Level_Moderate                  0
Traffic_Level_Very High                 0
Traffic_Level_Very Low                  0
dtype: int64

In [110]:
df.shape

(9733, 32)

In [111]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,precipitation,Distance (km),...,weather_description_light rain,weather_description_mist,weather_description_overcast clouds,weather_description_scattered clouds,weather_description_smoke,Traffic_Level_High,Traffic_Level_Low,Traffic_Level_Moderate,Traffic_Level_Very High,Traffic_Level_Very Low
0,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,0.0,14.292747,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,0.0,37.170000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,0.0,3.340000,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,0.0,10.050000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,0.0,9.890000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [112]:
df.shape

(9733, 32)

In [113]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,precipitation,Distance (km),...,weather_description_light rain,weather_description_mist,weather_description_overcast clouds,weather_description_scattered clouds,weather_description_smoke,Traffic_Level_High,Traffic_Level_Low,Traffic_Level_Moderate,Traffic_Level_Very High,Traffic_Level_Very Low
count,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,...,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000,9733.000000
mean,29.530155,4.631275,16.918477,70.099629,17.438966,70.819205,22.937865,66.057621,0.015942,14.243878,...,0.053837,0.177438,0.031645,0.042947,0.050344,0.271961,0.173431,0.315114,0.175691,0.063804
std,5.700484,0.321941,8.354719,23.349341,7.358836,21.278579,3.384958,15.532115,0.073055,7.974865,...,0.225708,0.382058,0.175062,0.202747,0.218665,0.444993,0.378639,0.464585,0.380577,0.244415
min,15.000000,1.000000,-30.902872,-88.352885,0.010000,0.010000,6.770000,27.000000,0.000000,1.550000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,4.500000,12.913041,73.170283,12.983041,73.295081,20.150000,54.000000,0.000000,8.180000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,29.000000,4.700000,18.546947,75.898497,18.630016,76.016959,23.000000,67.000000,0.000000,14.292747,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,34.000000,4.800000,22.728163,78.054222,22.785835,78.144222,25.990000,81.000000,0.000000,18.730000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,29.050000,94.000000,0.820000,59.840000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [114]:
import sys
print(sys.executable)

c:\Users\tusha\OneDrive\Desktop\MLProject\venv\python.exe

In [115]:
import xgboost as xg 
from sklearn.model_selection import train_test_split  
from sklearn.metrics import mean_squared_error as MSE

In [116]:
X, y = df.drop('TARGET', axis=1), df['TARGET']

In [118]:
X.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,temperature,humidity,precipitation,Distance (km),...,weather_description_light rain,weather_description_mist,weather_description_overcast clouds,weather_description_scattered clouds,weather_description_smoke,Traffic_Level_High,Traffic_Level_Low,Traffic_Level_Moderate,Traffic_Level_Very High,Traffic_Level_Very Low
0,37.0,4.9,22.745049,75.892471,22.765049,75.912471,17.11,77.0,0.0,14.292747,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,34.0,4.5,12.913041,77.683237,13.043041,77.813237,19.50,93.0,0.0,37.170000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,23.0,4.4,12.914264,77.678400,12.924264,77.688400,20.45,91.0,0.0,3.340000,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,38.0,4.7,11.003669,76.976494,11.053669,77.026494,23.86,78.0,0.0,10.050000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26.55,87.0,0.0,9.890000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [119]:
y.head()

0    21.666667
1    85.266667
2    28.583333
3    35.183333
4    43.450000
Name: TARGET, dtype: float64

In [121]:
X.shape

(9733, 31)

In [122]:
y.shape

(9733,)

In [123]:
train_X, test_X, train_y, test_y = train_test_split(X, y,  test_size = 0.2, random_state = 123)

In [124]:
train_dmatrix = xg.DMatrix(data = train_X, label = train_y) 
test_dmatrix = xg.DMatrix(data = test_X, label = test_y)

In [127]:
param = {"booster":"gblinear", "objective":"reg:linear"}

In [128]:
xgb_r = xg.train(params = param, dtrain = train_dmatrix, num_boost_round = 10) 
pred = xgb_r.predict(test_dmatrix)

c:\Users\tusha\OneDrive\Desktop\MLProject\venv\Lib\site-packages\xgboost\core.py:158: UserWarning: [21:15:06] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\objective\regression_obj.cu:227: reg:linear is now deprecated in favor of reg:squarederror.
  warnings.warn(smsg, UserWarning)

In [129]:
rmse = np.sqrt(MSE(test_y, pred)) 
print("RMSE : % f" %(rmse))

RMSE :  7.879741

In [130]:
min_val = y.min()
max_val = y.max()
print(min_val)
print(max_val)

5.8
157.75